.wrapper {
    display: flex;
    gap: 10px; /* Space between the two divs */
}
  
.group {
    display: flex;
    flex-direction: column;
    gap: 0px; /* Space between input fields in the same group */
}

input {
    width: 50px; /* Make the input fields smaller */
}

input[type="checkbox"] {
    width: 16px; /* Adjust checkbox size */
    height: 16px;
    margin-right: 5px; /* Add spacing between checkbox and label */
    margin-left: 0px; /* Add spacing between checkbox and label */
}

h1, h2 {
    text-align: center;
}

hr {
    border: 1px solid;
    margin: 10px 0;
    color: #c3b3d8;
}